 {% load static %} 
 {% for home_page in ph %}
 {% for abute_me in abute %}
 {% for drsd in drsd_h %}


<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!--- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
     <title>قالب رزومه</title>
     <meta name="description" content="">
     <meta name="author" content="">
 
    <!-- Mobile Specific Metas
    ================================================== -->
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 
     <!-- CSS
     ================================================== -->
    <link rel="stylesheet" href="{% static 'f\css\default.css' %}">
     <link rel="stylesheet" href="{% static  'f\css\layout.css' %}">
    <link rel="stylesheet" href="{% static ' f\css\media-queries.css' %}">
    <link rel="stylesheet" href="{% static ' f\css\magnific-popup.css' %}">
 
    <!-- Script
    ================================================== -->
     <script src="{% static ' f\js/modernizr.js' %}"></script>

 </head>
<style>

html.lb-disable-scrolling {
  overflow: hidden;
  /* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/IRANSansWeb.eot');
  src: url('fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
     url('fonts/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
     url('fonts/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
     url('fonts/IRANSansWeb.ttf') format('truetype');
}
@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/IRANSansWeb(FaNum).eot');
  src: url('fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
     url('fonts/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
     url('fonts/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
     url('fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}
body{
  margin: 0;
  padding: 0;
  font-family: 'IRANSans',tahoma;
  color: #30313e;
  font-size: 14px;
  word-spacing: -1px
}
html,body{
  overflow-x: hidden !important;
}
/***********Default setting************/

a:link,a:hover{text-decoration: none; outline: 0 !important}
a:active{color:#54c3ed}
i,span,label,a{display: inline-block; font-weight: normal;}
ul{list-style: none !important; list-style-type: none !important; margin: 0; padding: 0}
h1,h2,h3,h4,h5,h6{  font-size: 15px; margin: 0; padding: 0}
img{max-width: 100%}

/********** Transition ************/
a,i,input[type="submit"], form button,.my-certificates .inner .item a h2,
.form-style input:focus,.form-style textarea,.form-style .multi-radio-in-row .radio-option label:before,
.form-style .radio-layer .radio-option label:before,.form-style .multi-checkbox-in-row .checkbox-option label:before,
.form-style .checkbox-layer .checkbox-option label:before,.form-style .multi-radio-in-row .radio-option label:before,
.form-style .radio-layer .radio-option label:before{ outline: medium none;  text-decoration: none; -webkit-transition : all 0.2s linear 0s; -moz-transition : all 0.2s linear 0s; -ms-transition : all 0.2s linear 0s; -o-transition : all 0.2s linear 0s; transition : all 0.2s linear 0s}

/*********** clearFix ************/
.main-content .profile-layer .content .socials:after,.tabs-item ul:after,.resume-tab .inner:after,.resume-tab .inner header:after,
.my-certificates .inner .item a:after,.form-style .multi-checkbox-in-row:after,.form-style .multi-radio-in-row:after,
.form-style .status-selected:after{display: block; clear: both; content: ''; visibility: hidden; height: 0; line-height: 0}

.box-shadow{
  -moz-box-shadow: 0 0 4px rgba(226,226,231,0.5);
  -webkit-box-shadow: 0 0 4px rgba(226,226,231,0.5);
  box-shadow: 0 0 4px rgba(226,226,231,0.5);
  border:1px solid #f0f2f7;
  background-color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  display: none
}

.main-content{
    position: relative;
    width: 100%;
    padding: 55px 0 25px
}
.main-content > .container{
    position: relative;
    z-index: 1
}
.main-content:before{
    position: absolute;
    right: 0;
    top: 0;
    background:url('../images/bg-right.png') no-repeat top right #fff;
    content: '';
    width: 524px;
    height: 488px;
    opacity: 0.6;
    z-index: 0
}
.main-content:after{
    position: absolute;
    left: 0;
    top: 0;
    background:url('../images/bg-left.png') no-repeat top left #fff;
    content: '';
    width: 524px;
    height: 488px;
    opacity: 0.6;
    z-index: 0
}
.main-content .top-content{
    padding-right: 38%;
    position: relative;
    padding-top: 35px
}
.main-content .profile-layer{
    width: 40%;
    position: absolute;
    right: 0;
    top: 0
}
.main-content .profile-layer .bg-layer{
    width: 100%;
    height: 220px;
    position: relative;
    background: url('../images/background.jpg') no-repeat top center;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.main-content .profile-layer .bg-layer img{
    width: 100%;
    height: 100px;
    display: block;
    position: absolute;
    bottom: -60px;
    right: 0;
    z-index: 2
}
.main-content .profile-layer .img-layer{
    width: 170px;
    height: 170px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-shadow: 0 4px 0 #eeeff3;
    -moz-box-shadow: 0 4px 0 #eeeff3;
    -webkit-box-shadow: 0 4px 0 #eeeff3;
    margin: -110px auto 0;
    position: relative;
    z-index: 4
}
.main-content .profile-layer .img-layer img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    display: block;
    border:3px solid #fff;
}
.main-content .profile-layer .content{
    padding: 22px 0 0;
    text-align: center;
    width: 100%
}
.main-content .profile-layer .content h1{
    width: 100%;
    line-height: 25px;
    font-size:18px;
    font-weight: bold;
    color: #30313e;
    margin-bottom: 8px
}
.main-content .profile-layer .content h2{
    width: 100%;
    line-height: 25px;
    font-size: 15px;
    color: #7a7d91;
    font-weight: bold;
}
.main-content .profile-layer .content .socials{
    width: auto;
    display: table;
    margin: 25px auto 0
}
.main-content .profile-layer .content .socials a{
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 21px;
    color: #727483;
    display: inline-table;
    float: right;
    margin: 0 8px;
    position: relative;
}
.main-content .profile-layer .content .socials a:hover{
    color: #338ee2
}

.tabs-item{
    width: 100%;
    border-top: 1px solid #ededf1;
    margin-top: 32px
}
.tabs-item ul li{
    float: left;
}
.tabs-item ul li:nth-child(1),
.tabs-item ul li:nth-child(5){
    width: 13%
}
.tabs-item ul li:nth-child(2),
.tabs-item ul li:nth-child(3),
.tabs-item ul li:nth-child(4){
    width: 24.66%
}
.tabs-item ul li a{
    width: 100%;
    display: block;
    border-right: 1px solid #ededf1;
    line-height: 53px;
    min-height: 57px;
    font-size: 17px;
    color: #7a7d91;
    padding-top: 2px;
    position: relative;
}
.tabs-item ul li a:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 15px 0 15px;
    border-color: #ededf1 transparent transparent transparent;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -12px;
    z-index: 2;
    content: '';
    opacity: 0
}
.tabs-item ul li a:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 15px 0 15px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -10px;
    z-index: 2;
    content: '';
    opacity: 0
}
.tabs-item ul li:nth-child(1) a,
.tabs-item ul li:nth-child(5) a{
    color: #338ee2
}
.tabs-item ul li:nth-child(1) a:hover,
.tabs-item ul li:nth-child(5) a:hover{
    color: #42ba5c
}
.tabs-item ul li a i{
    line-height: 50px;
    font-size:19px
}
.tabs-item ul li:last-child a{
    border-right: 0
}
.tabs-item ul li a:hover,
.tabs-item ul li a.active{
    color: #338ee2
}
.tabs-item ul li a.active:before,
.tabs-item ul li a.active:after{
    opacity: 1
}
.tooltip{
    padding: 0 5px 3px;
    font-size: 13px;
    line-height: 33px;
    font-family: 'IRANSans';
    width: auto;
    min-width: 100px
}

.top-content .about-layer{
    padding:0 56px 18px 38px;
}
.top-content .about-layer header{
    margin: 31px 0 23px
}
.top-content .about-layer header h2{
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
.top-content .about-layer p{
    line-height: 32px;
    font-size: 15px;
    margin-bottom: 18px;
    text-align: justify;
}
.top-content .about-layer p a{
    color: #7a7d91
}
.top-content .about-layer p a:hover{
    color: #338ee2
}

.tab-content-layer{
    padding: 65px 0 10px
}
.tab-content-layer > div{
    display: none
}
.tab-content-layer > div.active{
    display: block
}
.tab-content-layer section{
    margin-bottom: 25px
}
.tab-content-layer .resume-tab section{
    padding-bottom: 20px
}

.heading{
    margin: 30px 0 20px;
    position: relative;
    line-height: 25px;
    height: 25px;
    border-right: 4px solid #3893e7
}
.heading h2{
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    padding-right: 30px
}
.progress{
    height: 12px;
    margin-bottom: 0;
    background-color: #f3f3f8;
    border-radius: 20px;
}
.progress-bar{
    background-color: #3893e7
}
.resume-tab .inner{
    padding: 0 15px
}
.resume-tab .inner header{
    padding: 0 2px
}
.resume-tab .inner header h2{
    width: auto;
    float: right;
    line-height: 25px;
    padding-bottom: 8px;
    font-size: 15px;
    color: #727483
}
.resume-tab .inner header span{
    width: auto;
    float: left;
    line-height: 25px;
    padding-bottom: 8px;
    color: #2b89df;
    font-size: 15px
}
.resume-tab .item{
    width: 33.33%;
    float: right;
    padding: 5px 20px 20px
}
.my-activities .inner{
    padding: 0 30px 10px
}
.my-activities .inner ul li{
    width: 50%;
    float: right;
    padding-right: 13px;
    position: relative;
    line-height: 25px;
    margin-bottom: 8px;
    font-size: 15px
}
.my-activities .inner ul li:before{
    width: 6px;
    height: 6px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #42ba5c;
    position: absolute;
    right: 0;
    top: 11px;
    content: ''
}
.my-history .inner{
    padding: 2px 30px 10px
}
.my-history .inner ul li{
    width: 100%;
    padding-right: 13px;
    position: relative;
    line-height: 25px;
    margin-bottom: 8px;
    font-size: 15px
}
.my-history .inner ul li:before{
    width: 6px;
    height: 6px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #42ba5c;
    position: absolute;
    right: 0;
    top: 11px;
    content: ''
}

.my-certificates .inner{
    padding: 2px 15px 10px
}
.my-certificates .inner .item{
    padding: 12px
}
.my-certificates .inner .item a{
    border: 1px solid #ededf1;
    display: block;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 100%;
    position: relative;
}
.my-certificates .inner .item a span{
    border-left: 1px solid #ededf1;
    display: inline-table;
    width: 55px;
    line-height:50px;
    height:50px;
    text-align: center;
    font-size: 21px;
    position: absolute;
    right: 0;
    top: 0
}
.my-certificates .inner .item a span i{
    position: relative;
    top: 1px;
    color: #3893e7
}
.my-certificates .inner .item a h2{
    line-height: 50px;
    height: 50px;
    text-align: center;
    float: left;
    width: 100%;
    display: inline-table;
    padding-right: 55px;
    color: #646777;
    font-size: 14px
}
.my-certificates .inner .item a:hover span i{
    color: #646777
}
.my-certificates .inner .item a:hover h2{
    color: #3893e7
}
.resume-tab .about-me{
    display: none
}
.resume-tab .about-me .inner{
    padding: 0 30px
}
.resume-tab .about-me p{
    line-height: 32px;
    font-size: 15px;
    margin-bottom: 12px;
    text-align: justify;
}
.resume-tab .about-me p a{
    color: #7a7d91
}
.resume-tab .about-me p a:hover{
    color: #338ee2
}

footer p{
    text-align: center;
    color: #595A67
}
footer p a{
    color: #595A67
}


.paging-layer{
    margin: 20px 0 30px
}
.paging-layer .pages{
    width: auto;
    display: table;
    margin: 0 auto
}
.paging-layer .pages a{
    width: 35px;
    height: 30px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    line-height: 28px;
    text-align: center;
    display: inline-table;
    float: left;
    border:2px solid #dde1e9;
    margin: 5px 7px;
    color: #7a8496;
    font-size: 15px;
    padding-top: 1px;
    background-color: #fff
}
.paging-layer .pages a:hover,
.paging-layer .pages a.current{
    border:2px solid #427be7;
    color: #2461d6
}

.portfolio-tab .inner{
    padding: 10px 30px
}
.portfolio-tab .inner .portfolio-item article{
    display: block;
    margin-bottom: 30px;
}
.portfolio-tab .inner .portfolio-item article a{
    display: block;
    margin-bottom: 12px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border:1px solid #ededf1;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    padding: 5px
}
.portfolio-tab .inner .portfolio-item article a img{
    display: block;
    width: 100%
}
.portfolio-tab .inner .portfolio-item article h2{
    display: block;
    margin-bottom: 10px;
    line-height: 25px;
    height: 25px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contact-tab .inner{
    padding: 10px 32px 20px
}
.contact-tab .inner > ul{
    margin-bottom: 35px
}
.contact-tab .inner > ul li{
    line-height: 25px;
    margin-bottom: 10px;
    font-size: 14px;
}
.contact-tab .inner > ul li i{
    font-size: 15px;
    margin-left: 8px;
    position: relative;
    top: 2px;
    color: #8E909F
}

/*form style*/
.form-style{
  margin: 25px auto 30px;
  position: relative;
  width: 100%
}
.form-style input{
  line-height: 42px;
  padding: 0 12px;
  height: 42px;
  width: 100%;
  border:1px solid #eaedf3;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 15px
}
.form-style select{
  line-height: 42px;
  padding: 0 0 0 12px;
  height: 42px;
  width: 100%;
  border:1px solid #eaedf3;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 15px
}
.form-style textarea{
  line-height: 25px;
  padding: 12px;
  height: 150px;
  width: 100%;
  border:1px solid #eaedf3;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 15px;
  resize: none;
}
.form-style input:focus,
.form-style textarea:focus{
  border:1px solid #bcc2d2
}
.form-style .button-st{
  margin-top: 15px
}
.form-style .multi-checkbox-in-row{
  margin: 15px 0;
  position: relative;
}
.form-style .multi-checkbox-in-row .checkbox-option{
  width: auto;
  float: left;
  display: table;
  margin:4px 25px 4px 0;
  position: relative;
}
.form-style .multi-checkbox-in-row .checkbox-option input,
.form-style .checkbox-layer .checkbox-option input{
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}
.form-style .multi-checkbox-in-row .checkbox-option label,
.form-style .checkbox-layer .checkbox-option label{
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  padding-left: 27px;
}
.form-style .multi-checkbox-in-row .checkbox-option label:before,
.form-style .checkbox-layer .checkbox-option label:before{
  width: 17px;
  height: 17px;
  line-height: 15px;
  text-align: center;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border:1px solid #d1dce2;
  position: absolute;
  left: 0;
  top: 0;
  content: '\f26b';
  color: #fff;
  font-family: 'material';
  font-size: 13px
}
.form-style .multi-checkbox-in-row .checkbox-option input:checked + label:before,
.form-style .checkbox-layer .checkbox-option input:checked + label:before{
  content: '\f26b';
  color: #2ba84b;
  font-weight: bold;
  border-color: #2ba84b
}
.form-style .multi-checkbox-in-row .checkbox-option:hover label:before,
.form-style .checkbox-layer .checkbox-option:hover label:before{
  content: '\f26b';
  color: #2ba84b;
  font-weight: bold;
  border-color: #2ba84b
}
.form-style .checkbox-layer{
  margin: 15px 0;
  position: relative;
}
.form-style .checkbox-layer .checkbox-option{
  display: block;
  margin:4px 25px 4px 0;
  position: relative;
}

.form-style .multi-radio-in-row,
.form-style .radio-layer{
  position: relative;
  margin: 15px 0
}
.form-style .multi-radio-in-row .radio-option{
  width: auto;
  float: left;
  display: table;
  margin:4px 25px 4px 0;
  position: relative;
}
.form-style .radio-layer .radio-option{
  display: table;
  margin:4px 25px 4px 0;
  position: relative;
}
.form-style .multi-radio-in-row .radio-option input,
.form-style .radio-layer .radio-option input{
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}
.form-style .multi-radio-in-row .radio-option label,
.form-style .radio-layer .radio-option label{
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  padding-left: 27px;
}
.form-style .multi-radio-in-row .radio-option label:before,
.form-style .radio-layer .radio-option label:before{
  width: 18px;
  height: 18px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  content: '\f26c';
  color: #cedbe2;
  font-size: 21px;
  font-family: 'material';
}
.form-style .multi-radio-in-row .radio-option label:hover:before,
.form-style .radio-layer .radio-option label:hover:before{
  color: #2ba84b;
  content: '\f26e';
  border:0;
}
.form-style .multi-radio-in-row .radio-option input:checked + label:before,
.form-style .radio-layer .radio-option input:checked + label:before{
  color: #2ba84b;
  content: '\f26f';
  border:0;
}
.form-style .status-selected{
    margin: 20px 0
}
.form-style .status-selected span{
    float: left;
    margin-right: 15px;
    position: relative;
    top: 11px
}
.form-style .status-selected .select {
    width: 120px;
    height: 40px;
    background: #f8fafd;
    border-radius: 50px;
    position: relative;
    float: left;
    border:1px solid #d4dfec;
}
.form-style .status-selected .select:before {
    content: 'Yes';
    position: absolute;
    top: 10px;
    left: 13px;
    height: 2px;
    color: #374a61;
    font-size: 14px;
}
.form-style .status-selected .select:after {
    content: 'No';
    position: absolute;
    top: 10px;
    left: 84px;
    height: 2px;
    color: #728dae;
    font-size: 14px;
}
.form-style .status-selected .select label {
    display: block;
    width: 52px;
    height: 22px;
    border-radius: 50px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: 1;
    left: 12px;
    background: #728dae;
}
.form-style .status-selected input[type=checkbox] {
    visibility: hidden;
}
.form-style .status-selected .select input[type=checkbox]:checked + label {
    left: 55px;
    background: #2ba84b;
}

.button-st{
  padding: 1px 20px 0;
  border:0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #fff;
  font-size: 15px;
  line-height: 45px;
  height: 45px;
  float: left;
}
.button-st.blue{
  background-color: #3893e7
}
.button-st.blue:hover{
  background-color: #126dc1;
  color: #fff;
}


@media screen and (max-width : 1199px){
    .main-content .top-content{
        padding-right: 35%
    }
    .top-content .about-layer{
        padding-right: 70px
    }
    .top-content .about-layer p {
        line-height: 30px;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .top-content .about-layer header{
        margin-bottom: 18px
    }
    .tabs-item ul li a{
        font-size: 16px
    }
}

@media screen and (max-width : 991px){
    .main-content .top-content{
        padding-right: 0
    }
    .main-content .profile-layer{
        width: 100%;
        position: static;
    }
    .top-content .about-layer{
        display: none
    }
    .resume-tab .about-me{
        display: block;
    }
    .main-content .profile-layer .bg-layer img{
        display: none
    }
    .tab-content-layer{
        padding-top: 35px
    }
    .resume-tab .item{
        width: 50%
    }
}

@media screen and (max-width : 768px){
    .main-content:before,
    .main-content:after{
        opacity: 0.4;
        width: 224px;
        height: 288px
    }
    .main-content{
        padding-top: 0
    }
}

@media screen and (max-width : 680px){
    .resume-tab .item,.my-activities .inner ul li{
        width: 50%
    }
}
@media screen and (max-width : 600px){
    .resume-tab .item,.my-activities .inner ul li{
        width: 100%;
        float: none
    }
    .my-certificates .inner .item {
        padding: 8px 12px;
    }
    .portfolio-tab .inner .portfolio-item {
        width: 100%;
        float: none
    }
}
@media screen and (max-width : 480px){
    .main-content .profile-layer .bg-layer img{
        display: block;
    }
    .resume-tab .about-me p{
        text-align: right;
    }
    .my-activities .inner ul li,
    .my-history .inner ul li{
        font-size: 14px
    }
    .contact-tab .inner{
        padding: 10px 20px 20px
    }
    .portfolio-tab .inner{
        padding: 10px 20px
    }
}

@media screen and (max-width : 380px){
    .main-content .profile-layer .bg-layer{
        height: 180px
    }
    .tabs-item ul li a{
        font-size: 14px
    }
    .main-content .profile-layer .content .socials a{
        margin: 0 5px
    }
    .tabs-item ul li:nth-child(1){
        display: none
    }
    .tabs-item ul li:nth-child(2),
    .tabs-item ul li:nth-child(3),
    .tabs-item ul li:nth-child(4){
        width: 28%
    }
    .tabs-item ul li:nth-child(5){
        width: 16%
    }
    .resume-tab .about-me .inner,.resume-tab .my-history .inner,.resume-tab .my-activities .inner{
        padding: 0 20px
    }
    .my-certificates .inner{
        padding: 2px 5px 0
    }
    .my-skills .inner .item{
        padding: 5px 8px 20px
    }
    .heading  {
        margin: 20px 0 15px 
    }
    .heading h2 {
        line-height: 20px;
        font-size: 16px;
        padding-right: 20px;
    }
}
.container{
 width:300px;
 font-family: Tahoma;
 float:right;
 }
 
.record{
 float: right;
 width: 100%;
 border: 1px solid #ccc;
 background-color: #f0f0f0;
 margin-bottom: 2px;
 -moz-border-radius: 0px 10px 10px 0px;
 -moz-border-radius: 0px 10px 10px 0px;
 }
 
.bar {
 background-color: blue;
 float: right;
 clear: left;
 height: 30px;
 }
 
.bar span{
 font-size: 12px;
 font-weight: bold;
 color: #fff;
 float: left;
 margin-left: 5px;
 margin-top: 7px;
 }
 
.p {
padding-top: ۳px;
float: left;
color: #6D8591;
clear: left;
font-size: 12px;
font-weight: bold;
height: 25px;
}
 
.p span{
 font-size: ۱۲px;
 font-weight: bold;
 float: left;
 margin-right: ۵px;
 margin-top: ۵px;
 }
</style>

    <meta name="googlebot" content="index,follow" />
    <meta name="robots" content="noodp,noydir" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-rtl.min.css" />
    <link rel="stylesheet" type="text/css" href="css/madaeny.css" />
    <link rel="stylesheet" type="text/css" href="css/lightbox.css" />
    <link rel="stylesheet" type="text/css" href="css/public.css" />
    <script src="js/jquery.min.js"></script>
   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>قالب رزومه</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/layout.css">
   <link rel="stylesheet" href="css/media-queries.css">
   <link rel="stylesheet" href="css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">


         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">خانه</a></li>
            <li><a class="smoothscroll" href="#about">درباره من</a></li>
	         <li><a class="smoothscroll" href="#resume">رزومه</a></li>
            <li><a class="smoothscroll" href="#portfolio">کار ها</a></li>
            <li><a class="smoothscroll" href="#testimonials">انجام پروژه</a></li>
            <li><a class="smoothscroll" href="#contact">شبکه های اجتماعی</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">من {{ home_page.name }} هستم</h1>
            <h3> {{ home_page.ds }} </h3>
           <br><br>
             <a class="smoothscroll" href="#about">درباره من</a>.</h3>
            <hr />
            <ul class="social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about" style="height:580px;margin-top:-80px;">

      <div class="row">

         <div class="three columns">


         </div>

         <div class="nine columns main-col" style="direction:rtl;float:right;justify-content:right;height:500px">
<div>
            <div class="row">

               <div class="columns contact-details" style="direction:rtl;float:right;position: relative; left: -44%;">

                    <h2>درباره من</h2>
                    <p class="address">
                           <span>{{ abute_me.ds_1 }}</span>
                    <br>
                           <span>{{ abute_me.ds_2 }}</span>
                           <br>
                           <span>{{ abute_me.ds_3 }}</span>
                           <br>
                           <span>{{ abute_me.ds_4 }}</span>
                           <br>
                           <span>{{ abute_me.ds_5 }}</span>
                           <br>
                           <span>{{ abute_me.ds_6 }}</span>

                        
                        <br>	   
                    </p>
                    <p style="font-size: larges; color:white;">{{ abute_me.phone_num }}</p>
                    <span<input type="button"><a href="https://t.me/moein_py ">آیدی تلگرام من</a></input></span>
                  <hr  color="gray" width="100%">

            <div class="row">
               <div class="columns download">
                  <p>
                     <a href="{{ abute_me.rz.url }}" class="button" style="margin: 0 -90px 0 40px;"><i class="fa fa-download"></i> دانلود رزومه</a>
                  </p>
</div>
</div>               
</div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">



      <!-- Work
      ----------------------------------------------- -->
      <div class="row work" style="float:right;justify-content:right;">

         <div class="three columns header-col" style="float:right;">
            <h1 style="float:right;justify-content:right;"><span style="float:right;justify-content:right;">کار ها</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns" style="box-align:right;float:right;justify-content:right;">

                  <h3 style="text-align:right;">  درباره من</h3>
                  <p class="info" style="text-align:right;">{{ drsd.ds_7 }}
                </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill" style="float:right;justify-content:right;">

         <div class="three columns header-col" style="float:right;justify-content:right;">
            <h1 style="float:right;justify-content:right;text-align:right;"><span style="float:right;justify-content:right;"> مهارت ها </span></h1>
         </div>

         <div class="nine columns main-col">
<!---->
            <p style="text-align:right;"> 
            </p>

				<div class="container">
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ drsd.avakin_drsd }}% ; margin-right:550px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ drsd.avalin_name }} {{ drsd.avakin_drsd }}%</div>
</div><br><br>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ drsd.dowmin_drsd }}%; margin-right:550px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ drsd.dowmin_name }} {{ drsd.dowmin_drsd }}%</div>
</div><br><br>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ drsd.sevmin_drsd }}%; margin-right:550px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ drsd.sevmin_name }} {{ drsd.sevmin_drsd }}%</div>
</div><br><br>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ drsd.chahromin_drsd }}%; margin-right:550px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ drsd.chahromin_name }} {{ drsd.chahromin_drsd }}%</div>
</div><br><br>

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>برخی از کار های من.</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

          	   <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-01" title="">
                        <img alt="" src="images/portfolio/coffee.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Coffee</h5>
                              <p>Illustrration</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="images/portfolio/console.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Console</h5>
                              <p>Web Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="">
                        <img alt="" src="images/portfolio/judah.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Judah</h5>
                              <p>Webdesign</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="">
                        <img alt="" src="images/portfolio/into-the-light.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Into The Light</h5>
                              <p>Photography</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-05" title="">
                        <img alt="" src="images/portfolio/farmerboy.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Farmer Boy</h5>
                              <p>Branding</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-06" title="">
                        <img alt="" src="images/portfolio/girl.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Girl</h5>
                              <p>Photography</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-07" title="">
                        <img alt="" src="images/portfolio/origami.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Origami</h5>
                              <p>Illustrration</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-08" title="">
                        <img alt="" src="images/portfolio/retrocam.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Retrocam</h5>
                              <p>Web Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div>  <!-- item end -->

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup
	      --------------------------------------------------------------- -->
	      </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-console.jpg" alt="" />

		      <div class="description-box">
			      <h4>کنسول</h4>
			      <p>مقداری اطلاعات</p>
               <span class="categories"><i class="fa fa-tag"></i>برندینگ, توسعه وب </span>
		      </div>

            <div class="link-box">
               <a href="">جزییات</a>
		         <a class="popup-modal-dismiss">بستن</a>
            </div>

	      </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-judah.jpg" alt="" />

		      <div class="description-box">
			      <h4>عنوان</h4>
			      <p>اطلاعات.</p>
               <span class="categories"><i class="fa fa-tag"></i>برندینگ</span>
		      </div>

	      </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-intothelight.jpg" alt="" />

		      <div class="description-box">
			      <h4>عنوان</h4>
			      <p>جزییات</p>
               <span class="categories"><i class="fa fa-tag"></i>فوتوگرافی</span>
		      </div>



	      </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-farmerboy.jpg" alt="" />

		      <div class="description-box">
			      <h4>عنوان</h4>
			      <p>جزییات</p>
               <span class="categories"><i class="fa fa-tag"></i>توسعه وب</span>
		      </div>

	      </div><!-- modal-05 End -->

         <div id="modal-06" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-girl.jpg" alt="" />

		      <div class="description-box">
			      <h4>عنوان</h4>
			      <p>توضیحات</p>
               <span class="categories"><i class="fa fa-tag"></i>فوتوگرافی</span>
		      </div>
	      </div><!-- modal-06 End -->

         <div id="modal-07" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-origami.jpg" alt="" />

		      <div class="description-box">
			      <h4>عنوان</h4>
			      <p>توضیحات</p>
               <span class="categories"><i class="fa fa-tag"></i>توسعه</span>
		      </div>

            <div class="link-box">
               <a href="">ییات</a>
		         <a class="popup-modal-dismiss">بستن</a>
            </div>

	      </div><!-- modal-07 End -->

         <div id="modal-08" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-retrocam.jpg" alt="" />

		      <div class="description-box">
			      <h4>عنوان</h4>
			      <p>توضیحات</p>
               <span class="categories"><i class="fa fa-tag"></i>توسعه</span>
		      </div>

	      </div><!-- modal-01 End -->


      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <!-- Call-To-Action Section
   ================================================== -->



   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="text-container">

         <div class="row">

            <div class="two columns header-col">



            </div>

            <div class="ten columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote style="float:right;direction:rtl;">
                           <p>انجام پروژه های طراحی سایت شما تنها با یک تماس
                           </p>
                           <cite>moein-py</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                     <li>
                        <blockquote style="float:right;direction:rtl;">
                           <p> با بهترین قیمت و کیفیت توسط تیم حرفه ای
                           </p>
                           <cite>moein-py</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                  </ul>

               </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

         </div> <!-- row ends -->

       </div>  <!-- text-container ends -->

   </section> <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">



            </div>

           
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

         
   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src=" http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js "></script>

   <script>window.jQuery || document.write('<script src="{% static ' f\js/jquery-1.10.2.min.js' %}"><\/script>')</script>
   <script type="text/javascript" src="{% static ' f\js/jquery-migrate-1.2.1.min.js' %}"></script>

   <script src="{% static ' f\js/jquery.flexslider.js' %}"></script>
   <script src="{% static ' f\js/waypoints.js' %}"></script>
   <script src="{% static ' f\js/jquery.fittext.js' %}"></script>
   <script src="{% static ' f\js/magnific-popup.js' %}"></script>
   <script src="{% static ' f\js/init.js' %}"></script>
</body>
</html>
 {% endfor %}
 {% endfor %}
 {% endfor %}
